
h1	{ font-size: 2em; margin-top: 10px; }
h2	{ font-size: 1.5em; }
h3	{ font-size: 1.2em; }
p	{ font-size: 1em; margin-bottom: 10px; }

/* 
* { border: 1px dashed red; }
*/

* {
	box-sizing: border-box;
	margin: 0;
	font-family: calibri;
	color: dimgray; 
}

body {
	padding: 20px 40px;
}

header {
	color: white;
	font-size: 1.5em;
	background-color: lightgray;
	text-align: center;
}

hr {
	margin: 20px 0;
	border: 3px solid gray;
}

th { padding: 10px; border: 1px solid lightgray; }
td { padding: 10px; border: 1px solid lightgray; }

li { margin-left: 20px; }


#bookslist {
	width: 30%;
	list-style: none;
	text-align: center;
}

#bookslist li {
	margin: 20px;
	padding: 10px;
	box-shadow: 0px 0px 10px darkgrey;
}

#bookslist li img { width: 100%; }
#bookslist li p { font-size: 1.2em; }

.read {
	opacity: 0.6;
}

#grid {
	display: grid;
	grid-template-rows: 40px 5px 40px repeat(6, 60px);
	grid-template-columns: repeat(5, 60px);
	border: thin solid red;
	
	grid-template-areas: 
	"head1 head1 number1 number1 number1"
	"line line line line line"
	"head2 head2 head2 number2 number2";
}

.grid-item {
	background-color: black;
}
